<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.navigine.geo_service_app"
      android:versionCode="1"
      android:versionName="1.0">
    
    <uses-sdk android:minSdkVersion="18"/>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <application android:label="Geo Service"
                 android:icon="@drawable/ic_launcher">
    
        <activity android:name="MainActivity"
                  android:label="GeoService.ICanDeliver"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Declaring BootReceiver (for GeoService to start automatically on device reboot) -->
        <receiver android:name="BootReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        
        <!-- Declaring GeoService -->
        <service android:name="com.navigine.geo_service.GeoService"/>
        
        <!-- Declaring GeoReceiver -->
        <receiver android:name="com.navigine.geo_service.GeoReceiver">
            <intent-filter>
                <action android:name="com.navigine.geo_service.SERVICE_START"/>
                <action android:name="com.navigine.geo_service.SERVICE_STOP"/>
                <action android:name="com.navigine.geo_service.SERVICE_WAKE"/>
            </intent-filter>
        </receiver>
         
    </application>
</manifest>
