<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.navigine.navigation_service_app"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="preferExternal">
    
    <uses-sdk android:minSdkVersion="18"/>

    <permission android:name="com.navigine.navigation_service_app.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.navigine.navigation_service_app.gcm.permission.C2D_MESSAGE"/>
    
    <application
        android:label="NavigationServiceApp"
        android:icon="@drawable/ic_launcher">

        <activity android:name="MainActivity"
                  android:label="NavigationServiceApp"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- Declaring NavigationService -->
        <service android:name="com.navigine.navigation_service.NavigationService"
                 android:exported="true"/>
        
        <!-- Declaring NotificationActivity (for showing pushes)-->
        <activity android:name="NotificationActivity"
                  android:label="NotificationActivity"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait"/>
        
        <!-- Declaring broadcast receiver for BOOT_COMPLETED, PACKAGE_REPLACED events -->
        <receiver android:name="BootReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        
        <!-- Google Cloud Messaging: start -->
        <receiver android:name="com.google.android.gms.gcm.GcmReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.navigine.navigation_service_app.gcm" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.navigine.navigation_service_app.gcm" />
            </intent-filter>
        </receiver>        
        <service android:name="GcmListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- Google Cloud Messaging: end -->
        
        <!-- Yandex Metrica: start -->
        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica">
        
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            
            <meta-data android:name="metrica:api:level" android:value="45"/>
        </service>
        
        <receiver
            android:name="com.yandex.metrica.MetricaEventHandler"
            android:enabled="true"
            android:exported="true">
        
            <!-- INSTALL_REFERRER необходим для трекинга кампаний -->
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <!-- Yandex Metrica: end -->
        
    </application>
</manifest>
